scrolled-window {
    background-color: #ff0000;
}

.scrolled-window {
    background-color: #ff0000;
}

#scrolled-window {
    background-color: #ff0000;
}
/**/
/* GtkTextView { */
/*     color: #ff0000; */
/* } */
/**/
/* .textview { */
/*     color: #ff0000; */
/* } */
/**/
/* textview { */
/*     color: #00ff00; */
/* } */
